%h1 Smts Stats
%table.table.table-striped.table-hover
  %tr
    %th Issue ID
    %th Issue Name
    %th Category
    %th Year of birth
    %th Gender
    %th Region
    %th Job
    %th Email
    %th Created At
  = render @smts
