@import "bootstrap";

body {
  padding: 20px 0 20px 0;
}

img {
  max-width: 100%;
}

.navbar .navbar-brand {
  padding: 0 15px 5px 15px; 
}

.navbar-nav > li > a {
  padding-top: 26px;
  padding-bottom: 27px;
}

div.explanation {
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}

.random-issues {
  .row {
    margin-bottom: 20px;
  }
  .thumbnail {
    border: none;
  }
}

div.count-status {
  font-size: 24px;
}

div.statistics {
  .total {
    span {
      font-size: 50px;
    }
  }
}

div.footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

div.issue-details {
  div.picture {
    margin-bottom: 20px;
  }
}
