@import "bootstrap";

$orange: #FF7600;
$kaki: #F1F0DF;

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

nav.navbar.navbar-default {
  background-color: #ffffff;
  margin-bottom: 20px;
  .navbar-brand {
    padding: 0 15px 5px 15px; 
  }
  .navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 27px;
  }
}


div.explanation {
  background: $kaki;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.issues {
  .row {
    margin-bottom: 20px;
  }
  .thumbnail {
    border: none;
  }
  .issues-list {
    a {
      color: $orange;
    }
    a.btn-primary {
      color: #ffffff;
    }
    .issue {
      .row {
        margin-bottom: 0;
      }
    }
  }
  .categories {
    h4 {
      color: $orange;
      margin-top: 0;
    }
    a {
      color: black;
    }
  }
}

.progress {
  margin-bottom: 0;
}

div.count-status {
  font-size: 24px;
}

div.statistics {
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $kaki;
  .total {
    border: 1px solid #D4D3BD;
    position: relative;
    padding: 10px;
    .count {
      width: 100%;
      font-size: 50px;
      color: $orange;
    }
  }
}

div.footer {
  background: black;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  h3, h4 {
    color: $orange;
  }
  a {
    color: #ffffff;
  }
}

div.issue-details {
  div.picture {
    margin-bottom: 20px;
  }
}
