@import "bootstrap";

body {
  padding: 20px 0 0 20px;
}

.navbar .navbar-brand {
  padding: 0 15px 5px 15px; 
}

.navbar-nav > li > a {
  padding-top: 26px;
  padding-bottom: 27px;
}

.random-issues .row {
  margin-bottom: 20px;
}

.random-issues .thumbnail {
  border: none;
}
